*, *::after, *::before {
    box-sizing: border-box;
}

/* Declaring custom css properties for code reusability */
:root {
    /* Primary and secondary colors */
    --clr-primary: #fafafa;
    --clr-primary-variant: #c7c7c7;
    --clr-secondary: #ffc107;
    --clr-secondary-variant: #c79100;

    /* Background, surface and error colors */
    --clr-background: #c2c2c2;
    --clr-surface: #FFFFFF;
    --clr-error: #b00020;
    
    /* Typography and iconography colors */
    --clr-on-primary: #000000;
    --clr-on-secondary: #000000;
    --clr-on-background: #000000;
    --clr-on-surface: #000000;
    --clr-on-error: #FFFFFF;

    /* Font sizes */
    --fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
    
    /* Box shadows*/
    --bs-lvl1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --bs-lvl2: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);

}

/* General styles */

body {
    background-color: var(--clr-background);
    color: var(--clr-on-primary);
    font-size: var(--fs-body);
    line-height: 1;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

h1,
h2,
h3 {
	line-height: 1;
	margin: 0.5rem;
    font-family: "Patua One", cursive;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

    /* Overriding default button style */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: none
}

/* Material classes */
.surface{
    background-color: var(--clr-surface);
    color: var(--clr-on-surface);
    box-shadow: var(--bs-lvl1);
    border-radius: 5px;
}

.background{
    background-color: var(--clr-background);
    color: var(--clr-on-background);
}

.error{
    background-color: var(--clr-error);
    color: var(--clr-on-error);
}

/* Component styles */
.buttonStyle {
    box-shadow: var(--bs-lvl1);
    transition: filter 0.7s ease;
    border-radius: 5px;
}

.buttonStyle:disabled{
    opacity: 0.3;
    background-color: var(--clr-primary-variant);
    pointer-events: none;
}

.buttonStyle:not(:disabled):hover, .buttonStyle:not(:disabled):focus {
    filter: brightness(110%);
}

.buttonStyle:not(:disabled):focus{

}

/* Setting render and application container dimensions */
#renderContainer {
    width: 100vw;
    height: 100vh;
}

.applicationContainer {
    width: inherit;
    height: inherit;
}

/* Login view */
.loginView {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    width: 360px;
    height: 420px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginForm h2{
    margin: 2rem
}

.loginForm button{
    margin-top: 3rem;
}

.loginForm button + button{
    background-color: var(--clr-secondary);
}
